* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: linear-gradient(rgba(0, 91, 175, 0.7), rgba(0, 91, 175, 0.7)), url('assets/capa.jpg') no-repeat center center/cover;
    text-align: center;
    color: #fff;
    padding: 1rem 0;
    border-bottom: solid 10px #f5a623;
}

header h1 {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.ft {
    color: #f5a623;
}

.financial {
    color: rgba(159, 209, 255, 0.7);
}

.logo-container {
    text-align: center;
    margin-bottom: 1rem; /* Espaço entre o logo e o título */
}

.logo-container img {
    max-width: 150px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}


nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 1.5rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f5a623; /* Laranja do logo ao passar o mouse */
}

#hero {
    background: linear-gradient(rgba(0, 91, 175, 0.7), rgba(0, 91, 175, 0.7)), url('assets/contabilidade.jpg') no-repeat center center/cover;
    color: #fff;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#hero p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.btn {
    padding: 1rem 2rem;
    background: #f5a623; /* Laranja do logo */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #ffc14d; /* Laranja mais clara ao passar o mouse */
}

.tabs {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.tablinks {
    background-color: #005baf;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.tablinks:hover {
    background-color: #004a8d;
}

.tablinks.active {
    background-color: #003d72;
}

.tabcontent {
    display: none;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.tabcontent h3 {
    margin-top: 0;
}

.tabcontent p {
    margin-bottom: 1rem;
    text-align: justify;
}

section {
    padding: 4rem 0;
}

.intro-photo {
    text-align: center;
}

.intro-photo img {
    width: 180px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para a seção de serviços */
#services {
    padding: 4rem 0;
}

.services-content {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centraliza verticalmente os itens e a imagem */
    gap: 2rem;
    margin-bottom: 50px;
}

#services h2 {
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 2.2rem;
    color: #005baf; /* Azul do logo */
    letter-spacing: 1px;
}

#services p {
    color: #005baf;
    text-align: center;
}

/* Estilo para a lista de serviços */
.services-list {
    flex: 1;
    text-align: center;
}

.services-list h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.services-list ul {
    list-style-type: none;
    padding: 0;
}

.services-list ul li {
    color: #005baf;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    position: relative;
}

.services-list ul li:hover {
    color: #f5a623;
}

.services-list .item {
    color: #f5a623;
}

/* Estilo para a foto */
.services-photo {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center; /* Certifica-se de que a imagem está centralizada verticalmente */
}

.services-photo img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background: #005baf;
    color: #fff;
    text-align: center;
    padding: 2.5rem 0;
}

footer a {
    color: #f5a623;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ffc14d;
}

@media (max-width: 768px) {
    .services-content {
        flex-direction: column;
        align-items: center;
    }

    .services-photo {
        margin-top: 2rem;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    #hero h2 {
        font-size: 2rem; /* Reduz o tamanho da fonte do título */
    }

    #hero p {
        font-size: 1rem; /* Reduz o tamanho da fonte do parágrafo */
        margin-bottom: 1.5rem; /* Ajusta o espaço entre o texto e o botão */
    }

    .btn {
        font-size: 0.9rem; /* Reduz o tamanho da fonte do botão */
        padding: 0.8rem 1.5rem; /* Ajusta o tamanho do botão */
    }
}

@media (max-width: 440px) {
    nav ul {
        flex-direction: column; /* Alinha os itens verticalmente */
        gap: 0.8rem; /* Ajusta o espaçamento entre os itens */
    }

    nav ul li {
        display: block; /* Define os itens como blocos para ocuparem toda a linha */
    }

    nav ul li a {
        font-size: 1.1rem; /* Ajuste no tamanho da fonte para telas menores */
    }
}